footer{
	width:550px;
	height:50px;
	margin: 0 auto;	
	position:relative;
	bottom:45px;
	
}

.footLinks{
	width:700px;
	font-family: "effra", sans-serif;
	font-size:12px;
	position:relative;
	top:15px;
	right:80px;
}

.footLink{
	color:#0000BC;
	text-decoration: none;
}

.footLink:hover{
	color:#0FF;
}

.footLink:active{
	color:#FFF;
}

#footerBar{
	height: 45px;
    width: 1000px;
	margin: 0 auto;
	background: #FFA500;
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
#tri3{
	right:15px;
	bottom:15px;
}
#tri4{
	right:15px;
	bottom:45px;
}

#copyright{
	color: #FF8000;
	font-family: "effra", sans-serif;
	font-size:11px;
	text-align:center;
	position:relative;
	top:15px;
}

#blackBg{
	width:960px;
	height:40px;
	background:#000;
	border-left:5px solid #AD729D;
	border-right:5px solid #AD729D;
	margin: 0 auto;
	margin-top:-50px;	
	position:relative;
	z-index:-1;
}

#mediaBar{
	width:125px;	
	height:38px;
	position:relative;
	left:580px;
	bottom:8px;
}
