#navWrapper{
	height: 45px;
	width: 1000px;
	background: orange;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	float:left;
	position:relative;
	left:15px;
	z-index:10;	
}

.triangle-l {
	height:0px;
    width:0px;
	border-color: transparent #FF7F02  transparent transparent ;
	border-style:solid;
	border-width:15px;
	position:relative;
	z-index:-1;
}
        
.triangle-r{
	 height:0px;
     width:0px;
	 border-color: transparent  transparent transparent #CE6700 ;
     border-style:solid;
     border-width:15px;
	 margin-left:1000px;
	 position:relative;
	 z-index:-1;
}

#tri1{
	top: 30px;		
}

#mainMenu {
	width:660px;
	position:relative;
	bottom:57px;
	left:185px;
	z-index:10;
}
	
#mainMenu li {
	width: 130px;
	float:left;
	display:block;
	margin-top: 5px;
	margin-left: 2px;
	text-align: center;
	font-weight: normal;
}
	
#mainMenu a {
	display:block;
	margin: 4px;
	padding: 3px 2px;
	text-decoration:none;
	background-color:#333;
	color:#C0F;
    border-right: 3px solid #999999;
    border-bottom: 3px solid #999999;
    border-top-width: 0px;
    border-left-width: 0px;
}

#mainMenu a:hover {
	color:#fff;
	background-color:#C0F;
	border:1px solid #000;
}

#mainMenu a:active{
	color:#C0F;
	background-color:#FFF;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
