body {
	font-family: "ff-cocon-web-pro", sans-serif;
	background: url(purplebackgroundC.jpg) #000;
}

header, footer, aside, section, article, nav, hgroup {
	display: block;
}
		
#pageContainer{
	width:1030px;
	margin:0 auto;
}

.pHeader{
	position:relative;
	top:20px;
	margin-top: 15px;
}

#contentContainer{
	width: 960px;
	height: 615px;
	margin: 0 auto;
	float: left;
	background: #000;
	border-left: 5px solid #AD729D;
	border-right: 5px solid #AD729D;
}

.content{
	height:400px;
	width:860px;
	color:#232323;
	font-size:20px;
	line-height: 125%;
	word-spacing:8px;
	letter-spacing:2px;
	background:#CC95CB;
	margin:0px 10px;
	margin-top:50px;
	padding:20px;
	padding-left:40px;
	padding-right:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow:auto;
}

.barberBone{
	height:420px;
	width:30px;
	background-image:url(Includes/barberBone.jpg);
	position:relative;
	z-index:15;
}

#bb1{
	float:left;
	position:relative;	
	left:48px;
	top:150px;
}

#bb2{
	float:right;
	position:relative;	
	right:62px;
	top:150px;
}

#boneContainer{
	height:615px;	
	width:1030px;
	margin:0 auto;
	margin-top:-53px;
}


.hor{
	border:1px outset;
	background-color:#ff8d41;
	color:#FF6600;
	height:5px;
	width:90%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pageLink{
	text-decoration:none;	
	
}

/* From http://www.cssbuttongenerator.com/
*/
.formButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7411), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #ff7411 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7411', endColorstr='#f2ab1e');
	background-color:#ff7411;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#6c14de;
	font-family: "ff-cocon-web-pro", sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
}
.formButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #ff7411) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #ff7411 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#ff7411');
	background-color:#f2ab1e;
}

#conForm{
	position:relative;
	left:400px;
	bottom:50px;
}

#conForm:active{
	bottom:51px;
}

#subForm{
	position:relative;
	margin-top:10px;
	margin-bottom:20px;
}

#subForm:active{
	bottom:1px;
}