#iH1{
	text-align:center;
	font-size:36px;	
	
}

#iA{
	text-decoration:none;	
	margin:0px auto;
}

#iA:hover{
	color:#FF5000;
}

#iAcenter{
	text-align:center;	
}

#garfPar{
	width:225px;
	margin-top:20px;
	position:relative;
	left:315px;
}